* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(75, 75, 75);
    background: radial-gradient(circle,
            rgba(75, 75, 75, 1) 0%,
            rgba(0, 0, 0, 1) 100%);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.content {
    position: absolute;
    z-index: 999;
}

.main .content h1 {
    font-size: 82px;
    font-family: "PT Serif Caption", serif;
    text-transform: capitalize;
    margin-bottom: 12px;
    position: relative;
    z-index: 1;
    filter: drop-shadow(0 0 27px rgba(0, 0, 0, 0.9));
}

.main .content h1 span {
    background: linear-gradient(86deg,
            rgba(255, 153, 51, 1) 19%,
            rgba(255, 255, 255, 1) 50%,
            rgba(19, 136, 8, 1) 89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .content a {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 8px 13px;
    font-size: 16px;
    font-family: "PT Serif Caption", serif;
    border-radius: 7px;
    transition: all 100ms;
}

.main .content a:hover {
    color: black;
    background-color: #ddd;
    border: 1px solid black;
}

/* cards */

.cards {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 120px 0;
}

.cards .sub-card {
    width: 300px;
    height: 334px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: "PT Serif Caption", serif;
    overflow: hidden;
    /*Glassmorpism effect on cards*/
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(27, 27, 27, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.cards .sub-card h1 {
    margin: 10px 0;
    font-weight: 200;
}

.card-image {
    width: 300px;
    height: 180px;
    transition: all 100ms;
}

.cards .sub-card:hover .card-image {
    transform: scale(1.1);
}

.cards .sub-card a {
    font-size: 16px;
    color: white;
    background-color: transparent;
    font-family: "PT Serif Caption", serif;
    font-weight: 200;
    border: 1px solid white;
    padding: 8px 15px;
    margin: 25px 0 10px 0;
    transition: all 100ms;
    text-transform: capitalize;
}

.cards .sub-card a:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
}

/* subscribe form */

.subscriber {
    background-color: black;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscriber .sub h1 {
    font-size: 36px;
    font-family: "PT Serif Caption", serif;
    font-weight: 200;
    color: red;
}

.subscriber .sub p {
    font-weight: 100;
}

.subscriber .sub {
    text-align: center;
}

.subscriber form {
    padding: 1% 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subscriber form input {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 0;
    border: 1px solid white;
    border-radius: 5px;
}

.subscriber form input:focus,
.subscriber form input:active {
    outline: none;
    box-shadow: none;
}

.subscriber form input:nth-child(1) {
    width: 300px;
}

.subscriber form input:nth-child(2) {
    width: 100px;
    background-color: red;
    color: black;
    border: 1px solid red;
}

