body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(75,75,75);
    background: radial-gradient(circle, rgba(75,75,75,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
}



a {
    text-decoration: none;
    color: white;
}